{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Lista de Animales</h2>
    <!-- Lista en una tarjeta donde cada animal tenga sus datos y botones para editar y eliminar, solo visibles para administradores -->
    <div class="columns is-multiline">
        {% for animal in animals %}
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <p><strong>id: {{ tareas.id }} </strong></p>
                            <p><strong>title: {{ tareas.title }}</strong></p>
                            <p><strong>description: {{ tareas.description }}</strong></p>
                            <p><strong>status: {{ tareas.status }} </strong></p>
                            <p><strong>created_at: {{ tareas.created_at }}</strong></p>
                            <p><strong>assigned_to: {{ tareas.assigned_to }}</strong></p>
                            <div class="buttons">
                                {% if current_user.has_role('admin') %}
                                    <a href="{{ url_for('tareas.update_tareas', id=tareas.id) }}" 
                                    class="button is-info">Editar</a>
                                    <a href="{{ url_for('tareas.delete_tareas', id=tareas.id) }}" 
                                    class="button is-danger">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
