{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Editar Tareas</h2>
<form method="post">
    <div class="field">
        <label for="name">ID:</label>
        <div class="control">
            <input type="text" id="id" name="id" required class="input" value="{{ tareas.id }}">
        </div>
    </div>
    <div class="field">
        <label for="title">Title:</label>
        <div class="control">
            <input type="text" id="title" name="title" required class="input" value="{{ tareas.title }}">
        </div>
    </div>
    <div class="field">
        <label for="description">Description:</label>
        <div class="control">
            <input type="textr" id="description" name="description" required class="input" value="{{ tareas.description }}">
        </div>
    </div>
    <div class="field">
        <label for="status">Status:</label>
        <div class="control">
            <input type="text" id="status" name="status" required class="input" value="{{ tareas.status }}">
        </div>
    </div>
    <div class="field">
        <label for="created_at">Created_at:</label>
        <div class="control">
            <input type="text" id="created_at" name="created_at" required class="input" value="{{ tareas.created_at }}">
        </div>
    </div>
    <div class="field">
        <label for="assigned_to">Assigned_to:</label>
        <div class="control">
            <input type="textr" id="assigned_to" name="assigned_to" required class="input" value="{{ tareas.assigned_tos }}">
        </div>
    </div>
    <input type="submit" value="Guardar Cambios" class="button is-primary">
</form>
{% endblock %}
